.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: lightblue;
    width: 100vw;
}

.progressbar {
    width: 550px;
    margin-bottom: 30px;
}

.Quizoptions {
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.Quizoptions:hover {
    color: rgb(104, 104, 104);
    text-shadow: 1px 1px 1px rgb(14, 1, 1);
}

li {
    margin: 0px;
    list-style: lower-roman
}

p {
    font-size: 30px;
}